@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body{
    margin-top:1rem;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    color:#fff;

}


.card-img-top {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    margin-left: 5%;
    
}

.card{
    cursor: pointer;
    color:#333;
}

.versus{

    padding-top:15%;

}

.hide{
    visibility: hidden;
}

button{
    size: 2rem;
}