@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body{

    font-family: 'Roboto Mono', monospace;

}


.card-img-top {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    margin-left: 5%;
    
}

.card{
    cursor: pointer;
}

.versus{

    padding-top:15%;

}

.hide{
    visibility: hidden;
}